body {
  font-family: "Roboto";
  color: #353535;
  padding: 0;
  margin: 0;
  #page-loader{
    width: 100%;
    height: 100%;
    background-color: #7e7e7e;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 5s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
    .loader {
      border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    }
  }
}

header {
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: 1rem;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

header.back {
  background-image: url(../images/retour.png);
}

footer {
  background-color: #353535;
  color: #f6f6f6;
  padding: 2rem;

  p.utensils::before {
    content: "\f2e7";
    font-family: "Font Awesome 5 Free";
    color: white;
    font-weight: 900;
    margin-right: 0.8rem;
    font-size: 1rem;
  }

  p.partner::before {
    content: "\f4c4";
    font-family: "Font Awesome 5 Free";
    color: white;
    font-weight: 900;
    font-size: 0.8rem;
    margin-right: 0.6rem;
  }

  img {
    max-width: 30vw;
  }
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
    position: absolute;   
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;     
  }
}