$color1: #9356dc;
$color2: #ef74da;
$color3: #99e2d0;
$color4: #f5edff;
$color5: #068b6a;
$grey: #f6f6f6;
$grey2: #eaeaea;
$grey3: #7e7e7e; 
$black: #353535;

body {
    > img {
        width: 100%;
    }
}

article.menu {
    max-height: 5rem;
    margin: auto auto 1rem auto;

    h3 {
        display: block;
    }

    ul {
        i {
            background-color: $color3;
            color: white;
            width: 4rem;
            display: none;
        }
        li {
            max-width: 75%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        margin-left: 0.5rem;
    }

    &:hover {
        ul {
            i.fa-check-circle {
                display: block;
            }
        }
    }
}

h1 {
    width: 80%;
    display: inline-block;
    margin: 1rem;
}

h2 {
    &::after {
        content: " ";
        border-top: solid 3px $color3;
        display: block;
        width: 3rem;
        margin-top: 0.3rem;
    }
}

button {
    border-radius: 1.5rem;
    background: linear-gradient(0.45turn,$color2, $color1);
    padding: 1rem;
    color: white;
    border: 0;
    width: 10rem;
}