$color1: #9356dc;
$color2: #ef74da;
$color3: #99e2d0;
$color4: #f5edff;
$color5: #068b6a;
$grey: #f6f6f6;
$grey2: #eaeaea;
$grey3: #7e7e7e;
$black: #353535;

body {
    overflow-x: hidden;
    > img {
        width: 99%;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $grey;
    margin-top: -2rem;
    overflow: hidden;
    border-radius: 2rem 2rem 0 0;

    .title-menu {
        width: 90%;
    }
}

aside.img {
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    width: 100%;
    height: 15rem;
    background-size: cover;
}

article.menu {
    position: relative;
    max-height: 3rem;
    margin: auto auto 1rem auto;
    flex-direction: initial;
    background-color: white;
    box-shadow: 0 0 8px 6px #f0f0f0;
    animation: fadein ease 0.5s;
    -moz-animation: fadein ease 0.5s; /* Firefox */
    -webkit-animation: fadein ease 0.5s; /* Safari et Chrome */
    -o-animation: fadein ease 0.5s; /* Opera */

    i {
        margin: initial;
        font-size: initial;
    }

    h3 {
        // display: block;
        padding: 0.5rem 0;
    }

    ul {
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: stretch;

        li {
            max-width: 85%;
            overflow: hidden;
            // white-space: nowrap;
            // border:1px solid red;
            transition: width 0.5s ease-out;
        }

        li.title {
            width: 85%;
            padding: 0.5rem;

            h3 {
                padding: 0;
                font-size: initial;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p {
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0;
                width: 100%;
                box-sizing: border-box;
                height: fit-content;
                overflow-wrap: normal;
                font-size: 0.8rem;
                overflow: hidden;
            }
        }

        li.price {
            width: 15%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin-right: 1rem;
            padding: 0.5rem;
            font-weight: bold;
        }

        li.checked {
            background-color: $color3;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0;
            margin: 0;
            border-radius: 0 0.4rem 0.4rem 0;
        }

        &:hover {
            li.title {
                width: 75%;

                p,
                h3 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            li.checked {
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                border-radius: 0 0.4rem 0.4rem 0;
                .fa-check-circle {
                    -webkit-animation: spin 0.5s linear;
                    -moz-animation: spin 0.5s linear;
                    animation: spin 0.5s linear;
                }
            }

            @media (min-width: 800px) {
                li.checked {
                    width: 8%;
                }
            }
        }
    }
}

article:nth-of-type(1) {
    animation-duration: 1s;
}

article:nth-of-type(2) {
    animation-duration: 1.5s;
}

article:nth-of-type(3) {
    animation-duration: 2s;
}

article:nth-of-type(4) {
    animation-duration: 2.5s;
}

article:nth-of-type(5) {
    animation-duration: 3s;
}

article:nth-of-type(6) {
    animation-duration: 3.5s;
}

article:nth-of-type(7) {
    animation-duration: 4s;
}

article:nth-of-type(8) {
    animation-duration: 4.5s;
}

article:nth-of-type(9) {
    animation-duration: 5s;
}

h1 {
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 0;
    font-size: 1.7em;
    &:not(.home-title) {
        font-family: Shrikhand;
        font-weight: unset;
    }

    i {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        margin-top: 0.3rem;
        margin-left: 1.5rem;
        &:hover {
            background: -webkit-linear-gradient($color1, $color2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border: 1px solid;
            font-weight: 900;
        }
    }
}

h2 {
    text-transform: uppercase;
    color: $grey3;
    margin: 2rem 1rem 1rem 0;
    font-weight: lighter;
    font-size: 1.2rem;

    &::after {
        content: " ";
        border-top: solid 3px $color3;
        display: block;
        width: 3rem;
        margin-top: 0.3rem;
    }
}

button {
    border-radius: 1.5rem;
    background: linear-gradient(0.45turn, $color2, $color1);
    padding: 1rem;
    color: white;
    border: 0;
    width: 10rem;
    margin: 2rem 2rem 3rem 2rem;
    cursor: pointer;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from {
        top: 40px;
        opacity:0;
    }
    to {
        top: 0px;
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        top: 40px;
        opacity:0;
    }
    to {
        top: 0px;
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes barshine {
    from {background-image:linear-gradient(120deg,rgba(255,255,255,0) -10%,rgba(255,255,255,0.25) -5%,rgba(255,255,255,0) 0%);}
    80% {background-image:linear-gradient(120deg,rgba(255,255,255,0) -10%,rgba(255,255,255,0.25) -5%,rgba(255,255,255,0) 0%);}
    to {background-image:linear-gradient(120deg,rgba(255,255,255,0) 100%,rgba(255,255,255,0.25) 105%,rgba(255,255,255,0) 110%);}
  }