$color1 : #9356dc;
$color2 : #ef74da;
$color3 : #99e2d0;
$color4 : #f5edff;
$color5 : #068b6a;
$grey : #f6f6f6;
$grey2 : #eaeaea;
$grey3 : #7e7e7e;
$black : #353535;

body {
  font-family: 'Roboto';
  color: $black;
  padding: 0;
  margin: 0;
}

search {
  width: 100%;
  display: flex;
  background-color: $grey2;
  justify-content: center;
  align-items: center;

  i {
    display: block;
  }

  input {
    background-color: $grey2;
    color: $grey3;
    height: 2.5rem;
    border: 0;
    width: 50%;
    display: block;
    text-align: center;
    font-weight: bold;
  }

  input::placeholder {
    color: $grey3;
    text-align: center;
  } 
}

section.intro {
    background-color: $grey;
    text-align: center;
    padding: 3rem;

    h1 {
      margin: 0;
    }

    button {
      border-radius: 1.5rem;
      background: linear-gradient(.45turn, $color2, $color1);
      padding: 1rem;
      color: white;
      border: 0;
    }
}

card {
  max-width: 90vw;
  /* border: 1px solid; */
  display: block;
  border-radius: .5rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 8px #7b7b7b;
  }

card figure {
  margin: 0; }

card img {
  width: 100%; 
  border-radius: .5rem .5rem 0 0;
}

card figcaption {
  position: relative;
  top: -13rem;
  right: calc( -90vw + 5rem);
  background: $color3;
  color: $color5;
  width: fit-content;
  padding: .5rem;
  }

card span {
  font-weight: initial;
  display: block; }

card restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center; }

card h3 {
  margin: 0;
  padding: .5rem; }

card figcaption + restaurant {
  margin-top: -2rem; }

card i {
  margin-right: 1rem;
  font-size: 1.5rem; }

card restaurant:hover i {
  background: -webkit-linear-gradient($color1, $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  font-weight: 900;
}

card a {
  text-decoration: none;
  color: grey;
}


.restaurants {
  h2 {
    width: calc( 70% + 5rem);
    margin: 3rem auto 1.5rem;
  }

  background-color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
  text-align: center;
  background-image: url(../images/retour.png);
  background-repeat: no-repeat;
  background-position-x: 1rem;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

h1, h2 {
  color: black;
}

footer {
  background-color: $black;
  color: $grey;
  padding: 2rem;
}


.fonctionnement {

  h2 {
    width: calc( 70% + 4rem);
    margin: 1rem auto;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    box-shadow: 0 0 10px 0px #c7c7c7;
    background-color: $grey;
    width: 70%;
    margin: 1.5rem auto;
    padding: 1.5rem;
    border-radius: 1rem;
    font-weight: bold;

  }

  li:before {
    background-color: $color1;
    border-radius: 50%;
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -2.1rem;
    margin-right: 2.1rem;
  }

  li.first::before {
    content: "1";
  }

  li.second::before {
    content: "2";
  }

  li.third {
    background-color: $color4;
  }

  li.third::before {
    content: "3";
  }

  i {
    margin-right: 1rem;
    color: $grey3;
  }
}