$color1: #9356dc;
$color2: #ef74da;
$color3: #99e2d0;
$color4: #f5edff;
$color5: #068b6a;
$grey: #f6f6f6;
$grey2: #eaeaea;
$grey3: #7e7e7e;
$black: #353535;
body {
	font-family: "Roboto";
	color: #353535;
	padding: 0;
	margin: 0;
}
form {
	width: 100%;
	display: flex;
	background-color: #eaeaea;
	justify-content: center;
	align-items: center;
	i {
		display: block;
	}
	input {
		background-color: #eaeaea;
		color: #7e7e7e;
		height: 2.5rem;
		border: 0;
		width: 50%;
		display: block;
		text-align: center;
		font-weight: bold;
		&::placeholder {
			color: #7e7e7e;
			text-align: center;
		}
	}
}
section.intro {
	background-color: #f6f6f6;
	text-align: center;
	padding: 3rem;
	h1 {
		margin: 0;
	}
	button {
		border-radius: 1.5rem;
		background: linear-gradient(0.45turn,$color2, $color1);
		padding: 1rem;
		color: white;
		border: 0;
	}
}
article {
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0.5rem;
	box-shadow: 0 0 8px #7b7b7b;
	display: flex;
	height: calc(225px + 4rem);
	margin-bottom: 3rem;
	width: 90vw;
	flex-direction: column-reverse;
	justify-content: flex-start;
	figure {
		margin: 0;
	}
	aside {
		position: relative;
		top: -11rem;
		right: calc(-90vw + 6rem);
		background: $color3;
		color: #068b6a;
		width: fit-content;
    padding: 0.5rem;
    border-radius: 0.2rem;
  }
  
	span {
		font-weight: initial;
		display: block;
	}
	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: white;
		border-radius: 0 0 .5rem .5rem;
	}
	h3 {
    color: $black;
		margin: 0;
		padding: 0.5rem;
	}
	i {
		margin-right: 1rem;
    font-size: 1.5rem;
  }
  &:hover {
    i {
      background: -webkit-linear-gradient($color1,$color2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 1px solid;
      font-weight: 900;
    }
  }
}

	a {
		text-decoration: none;
		color: grey;
	}

article.palette {
	background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
article.note-enchantee {
	background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
article.a-la-francaise {
	background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
article.delice {
	background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.restaurants {
	background-color: #f6f6f6;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		width: calc(70% + 5rem);
		margin: 3rem auto 1.5rem;
	}
}
header {
	text-align: center;
	background-image: url(../images/retour.png);
	background-repeat: no-repeat;
	background-position-x: 1rem;
	background-position-y: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
}
h1 {
	color: black;
}
h2 {
	color: black;
}
footer {
  background-color: #353535;
	color: #f6f6f6;
  padding: 2rem;

  p.utensils::before {
    content: "\f2e7";
    font-family: "Font Awesome 5 Free";
    color: white;
    font-weight: 900;
    margin-right: 0.8rem;
    font-size: 1rem;
  }

  p.partner::before {
    content: "\f4c4";
    font-family: "Font Awesome 5 Free";
    color: white;
    font-weight: 900;
    font-size: 0.8rem;
    margin-right: 0.6rem;
  }
  
  img {
    max-width: 30vw;
  }
}
.fonctionnement {
	h2 {
		width: calc(70% + 4rem);
		margin: 1rem auto;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	li {
		box-shadow: 0 0 10px 0px #c7c7c7;
		background-color: #f6f6f6;
		width: 70%;
		margin: 1.5rem auto;
		padding: 1.5rem;
		border-radius: 1rem;
		font-weight: bold;
		&:before {
			background-color: $color1;
			border-radius: 50%;
			display: inline-flex;
			width: 1.5rem;
			height: 1.5rem;
			align-items: center;
			justify-content: center;
			color: white;
			margin-left: -2.1rem;
			margin-right: 2.1rem;
		}
	}
	li.first {
		&::before {
			content: "1";
		}
	}
	li.second {
		&::before {
			content: "2";
		}
	}
	li.third {
		background-color: #f5edff;
		&::before {
			content: "3";
		}
	}
	i {
		margin-right: 1rem;
		color: #7e7e7e;
	}
}
