<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>La palette du goût</title>
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"
        />
        <link href="../css/style.css" rel="stylesheet" />
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap"
          rel="stylesheet"
        />
    </head>
    <body>
        <a href="../index.html">
            <header class="back">
                <img src="../images/logo/ohmyfood@2x.svg" alt="logo ohmyfood" />
            </header>
        </a>

        <aside class="img"></aside>

        <main class="menu">
            <h1>La palette du goût<i class="far fa-heart"></i></h1></i>
            <section>
                <h2>Entrées</h2>
                <article class="menu">
                    <ul>
                        <li class="title">
                          <h3>Fricassée d'escargot</h3>
                          <p>Au piment d'espelette</p>
                        </li>
                        <li class="price">25€</li>
                        <li class="checked"><i class="fas fa-check-circle"></i></li>
                    </ul>
                </article>
                <article class="menu">
                    <ul>
                        <li class="title">
                          <h3>Foie gras de canard mi-cuit</h3>
                          <p>Et ses copeaux de truffe noire</p>
                        </li>
                        <li class="price">35€</li>
                        <li class="checked"><i class="fas fa-check-circle"></i></li>
                    </ul>
                </article>
                <article class="menu">
                    <ul>
                        <li class="title">
                          <h3>Oeuf au plat</h3>
                          <p>Assaisonnée à la truffe sur lit de blabla</p>
                        </li>
                        <li class="price">20€</li>
                        <li class="checked"><i class="fas fa-check-circle"></i></li>
                    </ul>
                </article>
            </section>

            <section>
                <h2>Plats</h2>
                <article class="menu">
                    <ul>
                        <li class="title">
                          <h3>Filet de boeuf aux herbes</h3>
                          <p>Accompagné de sa ribambelle de légumes</p>
                        </li>
                        <li class="price">40€</li>
                        <li class="checked"><i class="fas fa-check-circle"></i></li>
                    </ul>
                </article>
                <article class="menu">
                    <ul>
                        <li class="title">
                          <h3>Parmentier de queue de boeuf</h3>
                          <p>A la truffe noire sur sa purée de panais</p>
                        </li>
                        <li class="price">35€</li>
                        <li class="checked"><i class="fas fa-check-circle"></i></li>
                    </ul>
                </article>
                <article class="menu">
                    <ul>
                        <li class="title">
                          <h3>Filet de Turbot</h3>
                          <p>Aux agrumes</p>
                        </li>
                        <li class="price">44€</li>
                        <li class="checked"><i class="fas fa-check-circle"></i></li>
                    </ul>
                </article>
            </section>

            <section>
                <h2>Desserts</h2>
                <article class="menu">
                    <ul>
                        <li class="title">
                          <h3>Paris-Brest</h3>
                          <p>Revisité</p>
                        </li>
                        <li class="price">18€</li>
                        <li class="checked"><i class="fas fa-check-circle"></i></li>
                    </ul>
                </article>
                <article class="menu">
                    <ul>
                        <li class="title">
                          <h3>Macaron au chocolat d'exception</h3>
                          <p>Et glace à la vanille de Madagascar</p>
                        </li>
                        <li class="price">22€</li>
                        <li class="checked"><i class="fas fa-check-circle"></i></li>
                    </ul>
                </article>
                <article class="menu">
                    <ul>
                        <li class="title">
                          <h3>Mousse au chocolat</h3>
                          <p>Au piment d'espelette et à la truffe noire</p>
                        </li>
                        <li class="price">23€</li>
                        <li class="checked"><i class="fas fa-check-circle"></i></li>
                    </ul>
                </article>
            </section>


            <button>Commander</button>
        </main>

        <footer>
            <img src="../images/logo/ohmyfood-white.svg" alt="logo ohmyfood"/>
            <p class="utensils">Proposer un restaurant</p>
            <p class="partner">Devenir partenaire</p>
            <p>Mentions légales</p>
            <p>Contact</p>
        </footer>
    </body>
</html>