body {
  font-family: 'Roboto';
  color: #353535;
  padding: 0;
  margin: 0; }

search {
  width: 100%;
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center; }
  search i {
    display: block; }
  search input {
    background-color: #eaeaea;
    color: #7e7e7e;
    height: 2.5rem;
    border: 0;
    width: 50%;
    display: block;
    text-align: center;
    font-weight: bold; }
  search input::placeholder {
    color: #7e7e7e;
    text-align: center; }

section.intro {
  background-color: #f6f6f6;
  text-align: center;
  padding: 3rem; }
  section.intro h1 {
    margin: 0; }
  section.intro button {
    border-radius: 1.5rem;
    background: linear-gradient(0.45turn, #ef74da, #9356dc);
    padding: 1rem;
    color: white;
    border: 0; }

card {
  max-width: 90vw;
  /* border: 1px solid; */
  display: block;
  border-radius: .5rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 8px #7b7b7b; }

card figure {
  margin: 0; }

card img {
  width: 100%;
  border-radius: .5rem .5rem 0 0; }

card figcaption {
  position: relative;
  top: -13rem;
  right: calc( -90vw + 5rem);
  background: #99e2d0;
  color: #068b6a;
  width: fit-content;
  padding: .5rem; }

card span {
  font-weight: initial;
  display: block; }

card restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center; }

card h3 {
  margin: 0;
  padding: .5rem; }

card figcaption + restaurant {
  margin-top: -2rem; }

card i {
  margin-right: 1rem;
  font-size: 1.5rem; }

card restaurant:hover i {
  background: -webkit-linear-gradient(#9356dc, #ef74da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  font-weight: 900; }

card a {
  text-decoration: none;
  color: grey; }

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .restaurants h2 {
    width: calc( 70% + 5rem);
    margin: 3rem auto 1.5rem; }

header {
  text-align: center;
  background-image: url(../images/retour.png);
  background-repeat: no-repeat;
  background-position-x: 1rem;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem; }

h1, h2 {
  color: black; }

footer {
  background-color: #353535;
  color: #f6f6f6;
  padding: 2rem; }

.fonctionnement h2 {
  width: calc( 70% + 4rem);
  margin: 1rem auto; }

.fonctionnement ul {
  list-style-type: none;
  padding: 0; }

.fonctionnement li {
  box-shadow: 0 0 10px 0px #c7c7c7;
  background-color: #f6f6f6;
  width: 70%;
  margin: 1.5rem auto;
  padding: 1.5rem;
  border-radius: 1rem;
  font-weight: bold; }

.fonctionnement li:before {
  background-color: #9356dc;
  border-radius: 50%;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: -2.1rem;
  margin-right: 2.1rem; }

.fonctionnement li.first::before {
  content: "1"; }

.fonctionnement li.second::before {
  content: "2"; }

.fonctionnement li.third {
  background-color: #f5edff; }

.fonctionnement li.third::before {
  content: "3"; }

.fonctionnement i {
  margin-right: 1rem;
  color: #7e7e7e; }
